body {
    background-image: url("./../images/bg-newyear.jpg");
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: con;
    background-size: contain;
    background-position: center center;
}
